<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('views/partials/head.ejs')  %> 
    </head>
    <body>
        <header>
            <%- include('views/partials/header-full-nav.ejs')  %> 
        </header>




            <br>
            <br>
        <h1>THIS IS THE HOME RENDER PAGE</h1>

        <main></main>









        
        <footer>
            <%- include('views/partials/footer.ejs')  %> 
        </footer>

    </body>
</html>