<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('views/partials/head.ejs')  %> 
    </head>
    <body>
        <header>
            <%- include('views/partials/header-buttons-only-nav.ejs')  %> 
        </header>





        <h1>THIS IS THE HOME RENDER PAGE</h1>

        <main><%=TEST CODE HERE TO SHOW RENDER%></main>









        
        <footer>
            <%- include('views/partials/footer.ejs')  %> 
        </footer>

    </body>
</html>