<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main login-page">
        <div class="login-page-container">
            <ul class="pop-message fail">
                <%= messages[0] %>
            </ul>
            <h1 class="page-title">Login</h1>
            <section class="form-container">
                <form class="login-form-container" action="/login" method="POST">
                    <div class="form-row-container">
                        <label for="username">Username:</label>
                        <input type="text" name="username" required>
                    </div>

                    <div class="form-row-container">
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                    </div>

                    <input class="button-treat-main form-button" type="submit" value="Login">

                    <div class="google-login">
                        <p>or <a href="/login/google">sign in</a> with</p>
                        <img src="https://i.imgur.com/ie1uv6p.png" alt="Google">

                    </div>

                </form>
            </section>
        </div>


    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

    <script src="js/script.js"></script>

</body>

</html>