        <!-- HOME.EJS: -->
        <!-- RECIPES: INDEX.EJS (IF NOT LOGGED IN): -->
        <!-- <header> -->
            <a href="" class="nav-logo-link">
                <img class="nav-logo" src="images/ww_logo_black.svg" alt="logo-holder">
            </a>
        
            <div class="nav-container">
                <nav class="main-nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="button-treat-sub login" href="">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="button-treat-main register" href="">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
        <!-- </header> -->
