        <!-- USER: NEW-USER.EJS -->
        <!-- <header> -->
            <a href="" class="nav-logo-link">
                <img class="nav-logo" src="images/ww_logo_black.svg" alt="logo-holder">
            </a>
        
            <div class="nav-container">
                <nav class="main-nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-link" href="">All Recipes</a>
                        </li>
                    </ul>
                </nav>
            </div>
        <!-- </header> -->


