<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main edit-user-pw">
        <div class="edit-user-page-container">
            <h1 class="page-title">Edit Password:</h1>
            <section class="form-container edit-pw">

                <form class="edit-user-form-container edit-pw-form" action="/users/<%=user._id%>/editpassword?_method=PUT"
                    method="POST">

                    <div class="form-row-container">
                        <label for="password">Password:</label>
                        <input type="password" name="password">
                    </div>

                    <input class="button-treat-main form-button" type="submit" value="Update">
                </form>

                <a class="back-button edit-pages" href="javascript:history.back(-1)">Back</a>
            </section>
        </div>
    </main>





    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>