<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>


    bla bla blaaaa

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</body>

</html>