<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')  %> 
</head>
<body>
    <header>
        <%- include('../partials/header-full-nav.ejs')  %> 
    </header>




    <footer>
        <%- include('../partials/footer.ejs')  %> 
    </footer>

</body>
</html>