<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>
    <body>
        <header>
            <%- include('../partials/header-full-nav.ejs')  %> 
        </header>

        <h1>THIS IS THE USER INDEX RENDER PAGE</h1>

        <main><%=TEST CODE HERE TO SHOW RENDER%></main>
        


        <footer>
            <%- include('../partials/footer.ejs')  %> 
        </footer>


    </body>
</html>