<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs')  %> 
    </header>

    // THIS IS ALL OF THE USERS OF OUR FINE APPLICATION: //
    <ul>
        <% users.forEach(element=> { %>
            <li><a href="/users/<%=element._id%>">
                    <%= element.username %>
                </a>
                <% }); %>
            </li>
    </ul>
</body>

</html>