<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>
    <body>
        <header>
            <%- include('../partials/header-full-nav.ejs')  %> 
        </header>

        <main class="page-main">
            <section class="page-text-container">
                <h1 class="page-title">Saved Recipes</h1>
                <h3 class="page-subtitle">All your saved recipes in one spot for easy access.</h3>
            </section>
    
            <section class="recipe-grid-container">
                <!-- COPY FROM RECIPES INDEX.EJS AND POPULATE WITH SAVED RECIPE VARIABLE -->

            </section>
        </main>
        




        <footer>
            <%- include('../partials/footer.ejs')  %> 
        </footer>
        <script src="js/script.js"></script>
    </body>
</html>