<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>

    <body>
        <header>
            <%- include('../partials/header-recipes-only-nav.ejs')  %> 
        </header>



        <h1>Register as a new user:</h1>

        <form action="/users" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" required> <br>

            <label for="password">Password:</label>
            <input type="password" name="password" required> <br>

            <label for="email">Email:</label>
            <input type="text" name="email" required> <br>

            <label for="img">Please provide us with your profile img link:</label>
            <input type="text" name="img"> <br>

            <input type="submit" value="Register">

        </form>


        <footer>
            <%- include('../partials/footer.ejs')  %> 
        </footer>

    </body>

</html>