<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main new-user-page">
        <div class="new-user-page-container">

            <p class="pop-message username fail">
                <%= messages[0] %>
            </p>

            <h1 class="page-title">Sign Up</h1>
            <section class="form-container">
                <form class="new-user-form-container" action="/users" method="POST" enctype="multipart/form-data">

                    <div class="form-row-container">
                        <label for="firstName">First Name:</label>
                        <input type="text" name="firstName" required>
                    </div>

                    <div class="form-row-container">
                        <label for="lastName">Last Name:</label>
                        <input type="text" name="lastName" required>
                    </div>

                    <div class="form-row-container">
                        <label for="username">Username:</label>
                        <input type="text" name="username" required>
                    </div>

                    <div class="form-row-container">
                        <label for="password">Password:</label>
                        <input type="password" name="password" required>
                    </div>

                    <div class="form-row-container">
                        <label for="email">Email:</label>
                        <input type="text" name="email" required>
                    </div>

                    <div class="form-row-container">
                        <label for="img">Profile Photo:</label>
                        <input type="file" name="img" id="userpicupload" accept="image/png, image/jpeg" required>
                    </div>

                    <input class="button-treat-main form-button" type="submit" value="Register">

                </form>
            </section>
        </div>

    </main>


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>