<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main new-user-page">
        <div class="new-user-page-container">
            <h1 class="page-title">Sign Up</h1>
            <section class="form-container">
                <form class="new-user-form-container" action="/users" method="POST">
                    <label for="firstName">First Name:</label>
                    <input type="text" name="firstName" required>

                    <label for="lastName">Last Name:</label>
                    <input type="text" name="lastName" required>

                    <label for="username">Username:</label>
                    <input type="text" name="username" required>

                    <label for="password">Password:</label>
                    <input type="password" name="password" required>

                    <label for="email">Email:</label>
                    <input type="text" name="email" required>

                    <label for="img">Profile Image URL:</label>
                    <p class="img-label-caption">(provide a link to your profile image)</p>
                    <input type="file" name="img" id="userpicupload" accept="image/png, image/jpeg">


                    <input class="button-treat-main form-button" type="submit" value="Register">

                </form>
            </section>
        </div>

    </main>


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="/js/script.js"></script>
</body>

</html>