<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')  %> 
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs')  %> 
    </header>




    <h2>This is <%= user.username %>'s page</h2>
   
    

   
   <footer>
    <%- include('../partials/footer.ejs')  %> 
   </footer>

</body>

</html>