<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main new-recipe-page">
        <div class="new-user-page-container">
            <h1 class="page-title">Add a recipe:</h1>
            <section class="form-container">
                <form class="new-recipe-form-container" action="/recipes" method="POST" enctype="multipart/form-data">
                    <label for="name">Recipe Name:</label>
                    <input type="text" name="name" required>

                    <label for="ingredients">Ingredients (separate ingredients with a ','):</label>
                    <input type="text" name="ingredients" required>

                    <label for="summary">Description:</label>
                    <input type="text" name="summary" required>

                    <label for="instructions">Instructions:</label>
                    <input type="text" name="instructions" required>

                    <label for="readyInMinutes">Ready In Minutes:</label>
                    <input type="number" name="readyInMinutes" required>

                    <label for="serving">Serving:</label>
                    <input type="number" name="serving" required>

                    <label for="img">Image URL:</label>
                    <p class="img-label-caption">(provide a link to your profile image)</p>
                    <input type="file" name="img" accept="image/png, image/jpeg" required>


                    <input class="button-treat-main form-button" id="" type="submit" value="Add Recipe!">

                </form>


            </section>
        </div>
    </main>


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>



<!-- <fieldset>
            <legend>Ingredients</legend>
            <label for="ingredient-name-1">Ingredient:</label>
            <input type="text" name="ingredient-name-1" required>

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">
        </fieldset> -->