<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Add your own recipe:</h1>

    <form action="" method="POST">
        <label for="ing-name">Ingredients (separate ingredients with a ','):</label>
        <input type="text" name="ing-name" required>

        <label for="ing-amount">Amount (separate amounts with a ','):</label>
        <input type="number" name="ing-amount" required>

        <label for="ing-unit">Unit (separate units with a ','):</label>
        <input type="number" name="ing-unit" required>

        <label for="ing-meta">Method (separate methods with a ','):</label>
        <input type="number" name="ing-meta">

        <label for="ing-summary">Ingredients (separate ingredients with a ','):</label>
        <input type="text" name="ing-summary" required>

        <input type="submit" value="Add Recipe!">

    </form>

</body>
</html>



        <!-- <fieldset>
            <legend>Ingredients</legend>
            <label for="ingredient-name-1">Ingredient:</label>
            <input type="text" name="ingredient-name-1" required>

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">
        </fieldset> -->