<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>

    <body>        
        <header>
            <%- include('../partials/header-full-nav.ejs')  %> 
        </header>


        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Add your own recipe:</h1>

        <form action="/recipes" method="POST">
            <label for="name">Recipe Name:</label>
            <input type="text" name="name" required>

            <label for="ingredients">Ingredients (separate ingredients with a ','):</label>
            <input type="text" name="ingredients" required>

            <!-- <label for="amount">Amount (separate amounts with a ','):</label>
            <input type="number" name="amount" required>

            <label for="unit">Unit (separate units with a ','):</label>
            <input type="text" name="unit" required>

            <label for="meta">Method:</label>
            <input type="text" name="meta"> -->

            <label for="summary"> Summary:</label>
            <input type="text" name="summary" required>

            <label for="readyInMinutes"> Ready In Minutes:</label>
            <input type="number" name="readyInMinutes" required>

            <label for="img"> Image:</label>
            <input type="string" name="img" required>

            <label for="serving"> Serving:</label>
            <input type="number" name="serving" required>

            <input type="submit" value="Add Recipe!">

        </form>






        
        <footer>
            <%- include('../partials/footer.ejs')  %> 
        </footer>

    </body>
</html>



        <!-- <fieldset>
            <legend>Ingredients</legend>
            <label for="ingredient-name-1">Ingredient:</label>
            <input type="text" name="ingredient-name-1" required>

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">
        </fieldset> -->