<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>

    <body>        
        <header>
            <%- include('../partials/header-full-nav.ejs')  %> 
        </header>



        <h1>Add your own recipe:</h1>

        <form action="/recipes" method="POST">
            <label for="name">Recipe Name:</label>
            <input type="text" name="name" required>

            <!-- <label for="extendedIngredients">Ingredients (separate ingredients with a ','):</label>
            <input type="text" name="ingredients" required>

            <label for="ing-amount">Amount (separate amounts with a ','):</label>
            <input type="number" name="ing-amount" required>

            <label for="ing-unit">Unit (separate units with a ','):</label>
            <input type="text" name="ing-unit" required>

            <label for="ing-meta">Method (separate methods with a ','):</label>
            <input type="text" name="ing-meta">

            <label for="ing-summary"> Summary (separate ingredients with a ','):</label>
            <input type="text" name="ing-summary" required> -->

            <input type="submit" value="Add Recipe!">

        </form>




        
        <footer>
            <%- include('../partials/head.ejs')  %> 
        </footer>

    </body>
</html>



        <!-- <fieldset>
            <legend>Ingredients</legend>
            <label for="ingredient-name-1">Ingredient:</label>
            <input type="text" name="ingredient-name-1" required>

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">
        </fieldset> -->