<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../partials/header-full-nav.ejs') %>
    </header>

    <main class="page-main new-recipe-page">
        <div class="new-user-page-container">
            <h1 class="page-title">Add a recipe</h1>
            <section class="form-container">
                <form class="new-recipe-form-container" action="/recipes" method="POST" enctype="multipart/form-data">

                    <div class="form-row-container">
                        <label for="name">Recipe Name:</label>
                        <input type="text" name="name" required>
                    </div>

                    <div class="form-row-container">
                        <div>
                            <label for="ingredients">Ingredients:</label>
                            <p class="img-label-caption">(separate ingredients with a ',')</p>
                        </div>
                        <input type="text" name="ingredients" required>
                    </div>

                    <div class="form-row-container">
                        <label for="summary">Description:</label>
                        <input type="text" name="summary" required>
                    </div>

                    <div class="form-row-container">
                        <label for="instructions">Instructions:</label>
                        <input type="text" name="instructions" required>
                    </div>

                    <div class="form-row-container">
                        <label for="readyInMinutes">Ready In Minutes:</label>
                        <input type="number" name="readyInMinutes" min="1" required>
                    </div>

                    <div class="form-row-container">
                        <label for="serving">Serving:</label>
                        <input type="number" name="serving" min="1" required>
                    </div>

                    <div class="form-row-container course-row">
                        <label for="course">Course Type:</label>
                        <div class="radio-row-container">
                            <div class="radio-option-container">
                                <input type="radio" name="course" value="main">
                                <label for="course-main">Main</label>
                            </div>
                            <div class="radio-option-container">
                                <input type="radio" name="course" value="appetizer">
                                <label for="course-appetizer">Appetizer</label>
                            </div>
                            <div class="radio-option-container">
                                <input type="radio" name="course" value="dessert">
                                <label for="course-dessert">Dessert</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row-container">
                        <label for="vegetarian">Vegetarian:</label>
                        <div class="radio-row-container">
                            <div class="radio-option-container">
                                <input type="radio" name="vegetarian" value="true">
                                <label for="vegetarian-yes">Yes</label>
                            </div>
                            <div class="radio-option-container">
                                <input type="radio" name="vegetarian" value="false">
                                <label for="vegetarian-no">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row-container">
                        <label for="keto">Keto-Friendly:</label>
                        <div class="radio-row-container">
                            <div class="radio-option-container">
                                <input type="radio" name="keto" value="true">
                                <label for="keto-yes">Yes</label>
                            </div>
                            <div class="radio-option-container">
                                <input type="radio" name="keto" value="false">
                                <label for="keto-no">No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row-container">
                        <label for="img">Recipe Photo:</label>
                        <input type="file" name="img" accept="image/png, image/jpeg" required>
                    </div>


                    <input class="button-treat-main form-button" id="" type="submit" value="Add Recipe">

                </form>


            </section>
        </div>
    </main>


    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>



<!-- <fieldset>
            <legend>Ingredients</legend>
            <label for="ingredient-name-1">Ingredient:</label>
            <input type="text" name="ingredient-name-1" required>

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">

            <label for="ingredient-name-2">Ingredient:</label>
            <input type="text" name="ingredient-name-2">
        </fieldset> -->